// We use this Base to set up various general/global variables
$marginTop: 2rem;
$marginSmallTop:1.125rem;
$widgetMargin: 2rem;

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.button{
  background-color: transparent;
  border: 3px solid white;
  border-radius: rem-calc(2);
  padding: rem-calc(5) rem-calc(20);
  color:$white;
  font-weight: bold;
}

@mixin HrLine{
  content: " ";
  display: block;
  border-top: 3px solid $primary-color;
  width: rem-calc(50);
  margin-top: $widgetMargin;
}

@mixin SlideShow{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem-calc(700);
}
