.w1Slideshow{
  max-height: 23.5625rem;
  margin-bottom: $marginTop;
  .column{
    padding:0!important;
  }
  .slickContainer{
    position: relative;
    h1{
      color: $white;
      margin-top: 8rem;
      font-size: rem-calc(70);
      text-shadow: 1px 1px 1px $scropion;
      @media #{$small-only}{
        font-size: rem-calc(50);
      }
      &:after{
        @include HrLine;
        margin: 0 auto;
        border-color: $white;
        margin-top: 2rem;
      }
    }
    a{
      @media #{$small-only}{
        margin-top: $marginTop;
      }
      margin-top: 3rem;
    }
    .slide1{
      @include SlideShow;
      background-image: url(../img/slidetest.jpg);
    }
    .slide2{
      @include SlideShow;
      background-image: url(../img/slideshow2.jpg);
    }
    .slide3{
      @include SlideShow;
      background-image: url(../img/placeholder1.jpg);
    }

  }
  .slick-prev,
  .slick-next {
    display: none!important;
  }
}
