.w1Slideshow{
  .column{
    padding:0!important;
  }
  .slickContainer{
    position: relative;
    img{
      width:100%;
    }
  }
  .slick-prev,
  .slick-next {
    display: none!important;
  }
}
