.w2TitleText{
  margin: $widgetMargin 0 $widgetMargin 0;
  p{
    &.wSubtitle{
      font-family: $sofiaFont;
      font-size: rem-calc(20);
      margin-bottom: 0;
    }
  }
  h2{
    padding-bottom: $widgetMargin;
    &:after{
      content: " ";
      display: block;
      border-top: 3px solid $primary-color;
      width: rem-calc(50);
      margin: 0 auto;
      margin-top: $widgetMargin;
    }
  }
}
