.w2TitleText{
  margin: $widgetMargin 0 $widgetMargin 0;
  p{
      &.w2Subtitle{
        font-weight: bold;
        margin-bottom: rem-calc(5);
        padding-top: rem-calc(50);
      }
      &.w2Content{
        font-style: italic;
        margin-top: rem-calc(60);
      }
  }
  h2{
    &:before{
      @media #{$small-only} {
        left:40%;
        bottom: 40%;
      }
      content: '';
      position: absolute;
      border-top: 3px solid black;
      height: 1px;
      width: rem-calc(100);
      margin: 0 auto;
      bottom:40%;
      left:45%;
    }
  }
}
