.w3BlockGridItems{
  margin: $widgetMargin 0 $widgetMargin 0;
  li{

  }
  .w3Content{
    //display: none;
    position: absolute;
    i{
      font-size: 2rem;
      margin:0 auto;
    }
    span{
      display: block;
      text-align: center;
      margin:0 auto;
    }
  }
}
