.w5IconBlock{
  margin: $widgetMargin 0 $widgetMargin 0;
  @media #{$small-only}{
    background-color:  white;
    li:nth-child(-n+2){
      background-color: white;
    }
  }
  margin-top: $marginTop;
  margin-bottom: $marginTop;
  i{
    color: $primary-color;
    margin-right: 0.5rem;
    font-size: rem-calc(20);
  }
  span{
    &.w5Title{
      font-weight: bold;
    }
    &.w5Content{
      display: block;
    }
  }
}
