.w6Accordion{
  margin-top: $marginTop;
  margin-bottom: $marginTop;
  li{
    i{
      color:$primary-color;
      font-size: rem-calc(20);
    }
    a{
      background: white;
      border: 1px solid $scropion;
      &:before{
        content:"\f078";
        font-family: FontAwesome;
        float:right;
        color:$scropion;
      }
    }
  }
  @media #{$medium-up} {
    .accordion .accordion-navigation, .accordion dd{
      margin-bottom: rem-calc(22)!important;
    }
    img{
      height:20.64rem;
    }
  }
}
